<!-- tag::simple-tag[] -->
<h1 i18n>Welcome to Ponyracer</h1>
<!-- end::simple-tag[] -->
<!-- tag::updated-tag[] -->
<h1 i18n>
  Welcome to Ponyracer.
</h1>
<!-- end::updated-tag[] -->
<!-- tag::tag-with-id[] -->
<h1 i18n="@@home.title">Welcome to Ponyracer</h1>
<!-- end::tag-with-id[] -->
<!-- tag::tag-with-description[] -->
<h1 i18n="welcome title|the title of the home page@@home.fullTitle">Welcome to Ponyracer</h1>
<!-- end::tag-with-description[] -->
<!-- tag::interpolation[] -->
<p i18n="@@home.welcome">Welcome to Ponyracer {{ user.firstName }} {{ user.lastName }}!</p>
<!-- end::interpolation[] -->
<!-- tag::attributes[] -->
<img
  src="/img/pony.gif"
  alt="running pony"
  i18n-alt="@@home.ponyImage.alt"
  title="Ponies are cool, aren't they?"
  i18n-title="@@home.ponyImage.title"
/>
<!-- end::attributes[] -->
<!-- tag::no-tag[] -->
<ng-container i18n="@@home.startMessage">Let's start playing.</ng-container>
<!-- end::no-tag[] -->
<!-- tag::pluralization[] -->
<p i18n="@@home.racesPlanned">
  Hello, {racesPlanned, plural, =0 {no race is planned} =1 {only one race is planned} other
  {{{ racesPlanned }} races are planned}}.
</p>
<!-- end::pluralization[] -->
